@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(196, 177, 142);
    color: rgba(0, 0, 0, 0.897);
}

div#interface{
    width: 1000px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px black;
    padding: 10px;
}

p{
    text-align: justify;
    text-indent: 30px;
}

a{
    color: black;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

header#cabecalho img#icone{
    position: absolute;
    left: 1200px;
    top: 65px;
}

header#cabecalho{
    border-bottom: 1px rgb(218, 218, 218) solid;
    height: 150px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 100px;
}

header#cabecalho h1{
    text-align: right;
    font-family: 'FonteLogo', Helvetica, sans-serif;
    font-size: 30px;
    color: rgb(54, 51, 51);
    text-shadow: 1px 1px 1px black;
    padding: 0px;
}
header#cabecalho h2{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: rgb(117, 102, 69);
    text-shadow: 1px 1px 1px black;
    padding: 0px;
    margin-top: -30px;
}

/* Formatação de imagens com legendas */

figure.foto-legenda{
    position: relative;
    border: 8px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 4px black;
}

figure.foto-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption{
    opacity: 0;
    position: absolute;
    top:0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
/* Função que dispara o evento quando eu passar o mouse por cima da imagem*/
figure.foto-legenda:hover figcaption{        
    opacity: 1;
}

/* Formatação do Menu*/
nav#menu{
    display: block;
}

nav#menu ul{
    list-style: none;           /*Retira as marcações da lista*/
    text-transform: uppercase;  /*Faz as letras ficarem maiusculas*/
    position: absolute;
    top: -20px;
    right: auto;
}

nav#menu li{
    display: inline-block;
    background-color: rgb(167, 151, 121);
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: rgb(82, 37, 37)
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: rgb(247, 223, 181);
    text-decoration: none;
}

section#corpo{
    display: block;
    width: 580px;
    float: left;
    border-right: 1px solid rgb(167, 151, 121);
    padding-right: 35px;
}

article#noticia-principal h2{
    font-size: 12px;
    color: rgb(117, 102, 69);
    background-color: rgb(247, 223, 181);
    padding: 5px 10px 5px 10px;
    margin: 10px;
}

header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: rgb(167, 151, 121);
    margin-bottom: 0px;
    margin-top: 0px;
}
header#cabecalho-artigo h2{
    font-size: 13pt;
    color: rgb(167, 151, 121);
    background-color: rgba(0, 0, 0, 0.192);
    margin: 0px;
}
header#cabecalho-artigo h3{
    font-size: 12px;
}

.direita{
    text-align: right;
}
/*formatacao da tabela*/
table#tabelaspec{
    border: 1px solid rgb(117, 102, 69);
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;

}

table#tabelaspec td{
    border: 1px dashed rgb(117, 102, 69);
    padding: 2px;
    text-align: center;
    color: rgb(218, 218, 218);
}

table#tabelaspec td.esquerda{
    background-color: rgb(44, 38, 25);
    font-weight: bold;
}

table#tabelaspec td.direita{
    background-color: rgb(167, 151, 121);
}

table#tabelaspec caption{
    color: rgb(68, 57, 38);
    font-weight: bolder;
    font-size: 20px;
}

table#tabelaspec caption span{
    display: block;
    float: right;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: 10px;
    margin-top: 13px;
}

aside#lateral{
    display: block;
    width: 350px;
    float: right;
    background-color: rgb(238, 216, 175);
    padding: 10px;
    margin-top: 10px;
    box-shadow: 2px 2px 2px rgb(117, 102, 69);
}

aside#lateral h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: rgb(117, 102, 69);
    margin-top: 0px;
}

aside#lateral h2{
    background-color: rgb(167, 151, 121);
    font-size: 15pt;
    color: rgb(0, 0, 0);
    padding: 5px 5px 5px 5px;
}

footer#rodape{
    border-top: 1px solid rgb(167, 151, 121);
    clear: both;
}

footer#rodape p {
    list-style: none; 
    text-align: center;
}
